@font-face {
    src: url(../fatura/futura_bk_bt_book.ttf);
    font-family: "fatura" sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$fatura: "fatura" sans-serif;
$roboto: 'Roboto', sans-serif;