* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none !important;
  display: inline-block;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

/* ======================================  common css end  ============================================ */
/* ======================================   css  ============================================ */
/* ======================================   css  ============================================ */
.back-to-top {
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  background-color: #252C6D;
  position: fixed;
  right: 100px;
  bottom: 100px;
  z-index: 999;
  cursor: pointer;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}

.icon {
  position: relative;
}

.icons {
  margin: 50px 0;
}

.icon {
  margin: 0 30px 0 0;
}

.icon {
  border: 0;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.icon span {
  display: block;
  height: 3px;
  background-color: #252C6D;
  border-radius: 2px;
  position: absolute;
  right: -30px;
  -webkit-transition: -webkit-transform 0.3s;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.icon span:first-child {
  top: 0px;
  width: 30px;
}

.icon span:nth-child(2) {
  top: 10px;
  width: 25px;
}

.icon span:last-child {
  top: 20px;
  width: 30px;
}

.icon--active span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 25px;
}

.icon--active span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 25px;
}

.icon--active span:nth-child(2) {
  opacity: 0;
}