@import "../Variable/fontfamily";
@import "../basic/_common";
@import "../mixinit/fontStyle";

#news-part {
    margin-top: 110px;

    .header-part {
        h2 {
            @include fontstyle($fatura, 60px, 600, #F04E4C);
        }

        p {
            @include fontstyle($roboto, 20px, 400, #414042);
            margin-top: 23px;
        }
    }

    .news-part {
        margin-top: 65px;
        position: relative;

        .text {
            margin-top: 35px;

            ul {
                li {
                    @include fontstyle($roboto, 18px, 400, #F04E4C);
                    margin-right: 20px;
                }

                li:first-child {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';
                        right: -11px;
                        top: 2px;
                        height: 20px;
                        width: 2px;
                        background-color: #F04E4C;
                    }
                }
            }

            h3 {
                @include fontstyle($fatura, 30px, 600, #4978BC);
                text-transform: uppercase;
                margin-top: 10px;
                width: 500px;
            }
        }

        .play {
            position: absolute;
            left: 50%;
            top: 33%;
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            border: 1px solid #fff;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background-color: #4979bcc3;
            transform: translate(-50%);
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -ms-transform: translate(-50%);
            -o-transform: translate(-50%);

            i {
                color: #fff;
            }

            &:hover {

                background-color: #4979bc84;

            }
        }
    }
}